@use '../resource.scss';

@media screen and (max-width:1300px) {
    .container{
        --container-margin:0 10px;
    }
}

.products{
    display: flex;
    flex-direction: column;

    .main{
        display: flex;

        .container{
            height: auto;
            width: 100%;
            margin: var(--container-margin,10px);
            padding: 5px 20px;
            background-color: resource.$light-grey-color;
            border-radius: 5px;

            .directory{
                display: flex;
                align-items: center;
                font-size:14px;
                animation-name: FadeOthers;
                animation-duration: 1s;

                .prev{
                    color:lightgray;
                    transition: 200ms;
                    text-decoration: none;

                    &:hover{
                        color: resource.$green-color;
                    }
                }
                .current{
                    text-decoration: none;
                    color:resource.$green-color;
                }
                .arrow{
                    color:lightgrey;
                    width: 15px;
                }
            }

            @keyframes FadeOthers {
                from{
                    transform: translateX(100%);
                    opacity:0;
                };
                to{
                    transform: translateX(0%);
                    opacity:1;
                }
            }
        }
    }
}