
:root {
  --navbar-padding: 0 0 0 50px;
  --notification-display: block;
  --notification-width:300px;
  --container-margin:0 75px 0 10px;
  --sidebar-position:sticky;
  --sidebar-top:0px;
  --open-sidebar:none;
  --container-padding:10px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}