$blue-color:#3D639D;
$light-blue-color:#40bfff;
$light-grey-color:#F3F5F8;
$green-color:#00C48C;
$light-green-color:#AAD9AC;
$orange-color:#FF6422;
$light-orange-color:#FFBD95;
$light-purple-color: #A2AEDB;
$pink-color: #F39DBD;
$dark-pink-color: #E83274;
$light-red-color: #FF647C;